{{#if mismatches}}
  <LinesTable @lines={{mismatches}}/>

  <UiAccordion>
    <div class="title" {{action 'toggleAccordion'}}>
      <i class="dropdown icon"></i>
      All Lines
    </div>
    <div class="content">
      {{#if allLinesOpen}} 
        {{#each lines as |line|}}
          <pre>{{line.line}}</pre><br/>
        {{/each}}
      {{/if}}
    </div>
  </UiAccordion>
{{else}}
  <h2 class="ui center aligned icon header">
    <i class="circular level up alternate icon"></i>
    Upload some files
  </h2>
{{/if}}
