<div class="ui menu">
  <div class="header item">
    UPad Validator
  </div>
</div>

<div class="ui container">
  <div class="ui stackable one column grid">
    <MismatchViewer class="row"/>
  </div>
</div>

{{outlet}}
