<div class="ui container">
  <h3 class="ui huge header">
    UPAD Validator
  </h3>
  <div class="ui grid">
    <UPadMainframeOutputUploader class="row"/>
    <MismatchViewer class="row"/>
  </div>
</div>

{{outlet}}
